<mat-toolbar color="primary">
    Update
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>

<div *ngIf="done">
  <h4>Updated Successfully!</h4>
</div>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput placeholder="Codeforces handle" type="text" [(ngModel)]="handle.handle" name="handle"  #username="ngModel" required>
        <mat-error *ngIf="handle.errors?.required">Handle is required</mat-error>
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Update</button>
  </mat-dialog-actions>
</form>
